body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f9;
}

header {
    background-color: #d71920;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
